<ion-view view-title="Convertir">
  <ion-content>
    <h3>Medidas</h3>
<div class="list">

  <label class="item item-input item-select">
    <div class="input-label">
      Receta en
    </div>
    <select ng-options="item as item.label for item in unidades track by item.id" ng-model="unisel" ng-change="update()">
    </select>
  </label>

  <label class="item item-input item-select">
    <div class="input-label">
      Ingrediente
    </div>
    <select ng-options="item as item.label for item in densidades track by item.id" ng-model="densel">
    </select>
  </label>

  <label class="item item-input item-select">
    <div class="input-label">
      Medir en
    </div>
    <select ng-options="item as item.label for item in unidades track by item.id" ng-model="uniseldest">
    </select>
  </label>

  <label class="item item-input ">
    <div class="input-label">
      Cantidad
    </div>
      <input type="text" placeholder="Cantidad" ng-model="cantidad">
  </label>
  <button class="btn" ng-click="update()">Actualizar</button>
  <label class="item item-input ">
    <div class="input-label">
      Resultado
    </div>
      {{ resultado }}
      {{ unisel.label }}
      {{ cantidad }}
  </label>
</div>  
  </ion-content>
</ion-view>
